:root {
    --primary-color: #11998e;
    --secondary-color: #38ef7d;
    --white-color: #ffffff;
    --gray-color: #9b9b9b;
    --main-bg: #2b2727;
    --error-color: #680e0e;
    --alert-color: #d33b3b;
}